/* body{
    text-align: center;

} */

body{
    text-align: center;
    margin:0;
    min-height: 100vh; /*On spécifie la hatueur minimale*/
    background-image:url(https://images.pexels.com/photos/127673/pexels-photo-127673.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1);
    background-position: center;
    background-size: cover;
    animation-name: back;
    animation-duration: 20s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}

/* Pour donner l'effet de mouvement*/
@keyframes back{
    0%{
        background-size: 100% auto;
    }
    50%{
        background-size: 120% auto;
    }
    100%{
        background-size: 100% auto;
    }
}



/* Création de la grille  */
#jeu{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    width: 300px;
    margin:auto;
}

.case{
    border: 1px solid black;
    height: 100px;
    /* line-height: 100px;
    font-size: 60px; */
}

button{
    
        width: 200px;
        height: 40px;
        font-size: 14pt;
        font-weight: bold;
        background-color: aqua;
        border:solid 1px aqua;
        color:#000;
        display: inline-block;
        margin: 4px 2px;
    
}